.banner-container {
    margin-top: 120px;
    /* ปรับตำแหน่งให้เลื่อนลง */
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner-wrapper {
    position: relative;
    width: 80%;
    overflow: hidden;
}

.banner-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.banner-slide img {
    width: 100%;
    height: auto;
    display: block;
    flex-shrink: 0;
}

.banner-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

/* ปรับตำแหน่งปุ่มเลื่อนซ้าย-ขวาให้อยู่ตรงกลางของแบนเนอร์ */
button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}