/* Container หลัก */
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;
}

/* Sidebar (ซ้าย) */
.sidebar {
    width: 25%;
    background: #f3f0f0;
    padding: 15px;
    border-radius: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}